
<div class = "container">
<h1> Meet the IhAVE team </h1>

<h5> We at IhAVE recognized that effective inventory software was expensive and in many cases too specialized to be useful to both the casual organizer and the less than specialized individual/business. With solving this as our goal , we built the app you see now. 
	IhAVE is a simple lightweight inventory application built to meet the needs of a variety of personal and professional needs. This is evident in the clean, intuitive and easy to use interface. The workflow just makes sense: add an item with (or without) a photo in the location you are planning to keep it in, enter any data you think is relevant, never wonder how many plates you have or what type of toner your printer takes!
</h5>

	

<div class = "lindsay">
	<img src="">
	<div class = "text">
			<p></p>
	</div>
</div>

<div class = "joon" >
	<img src="">
	<div class = "text">

	</div>
</div>

<div class = "marcose" >
	<img src="">
	<div class = "text">

	</div>
</div>

<h3> This application is built for you, let us know how you use it, or better yet how we can improve. <%= mail_to( "ihavetest@gmail.com", "The IhAVE team" )%>  </h3> <p> IhAVE is a showcase of completion for the <%=link_to "Dev Point Labs winter cohort", "http://www.devpointlabs.com" %> </p>
</div>

