<h1>Search Results</h1>



<% if !@results.empty? %>
	<div class="container-fluid ">
  <div class ="row image-tiles" id="masonry_container">

		<% @results.each do |item| %>
 		<%= render partial: 'items/item', locals: {item: item} %>
 		<%end%>
	</div>
</div>
<% else %>
	<h2>Nothing found.</h2>
<% end %>


<div id='modal-div'>
</div>

<div id='show-modal-div'>
</div>