<div class="background-picture"> 
  <div class="container">  
    <div class="row"> 
      <div class="col-md-8 col-md-offset-2"> 
       
	        <h1 class="tagline"> Keep Track of your possessions</h1>
<!-- Button trigger modal -->
		        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#signUp">
              Organize your life
            </button>
          </div>
        </div>
      </div>
    </div>

<div class="how_to_use"> 
  <div class="container"> 
    <div class="row">
      <div class="col-md-4 col-lg-4 col-xs-12 col-sm-4"> <span class="glyphicon glyph glyphicon-home"></span>Step One: Pick a location, Anywhere! Garage, Shed, Basement, Storageroom. </div>
       <div class="col-md-4 col-lg-4 col-xs-12 col-sm-4"> <span class="glyphicon glyph glyphicon-camera"></span>Step Two: Take a picture of whatever item that you want to keep track of so you'll never lose it again! </div>
         <div class="col-md-4 col-lg-4 col-xs-12 col-sm-4"> <span class="glyphicon glyph glyphicon-hand-right"></span>Step Three: Choose Whether or not your item is Lendable and for how many days. </div>
    </div>
  </div>
</div>

<div class="aboutteam"> 
  <div class="container"> 
    <div class="row">
      <div class="col-md6">About The Team </div>
    </div>
  </div>
</div>

<div class="team"> 
  <div class="container"> 
    <div class="row">
      <div class="col-md-4 col-lg-4 col-xs-12 col-sm-4">Lindsay Hammon </div>
       <div class="col-md-4 col-lg-4 col-xs-12 col-sm-4">Joon Park</div>
         <div class="col-md-4 col-lg-4 col-xs-12 col-sm-4">Marcos Gonzales </div>
    </div>
  </div>
</div>
     
    <!-- Modal -->
		<div class="modal fade" id="signUp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-body">
		      	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <%= render file: '/devise/registrations/new.html.erb' %>
		      </div>
		      <div class="modal-footer">
				  <div class="form-actions">
				    <%= link_to "Sign in with Google+", user_omniauth_authorize_path(:google_oauth2), class: "btn btn-primary center-content" %>
				  </div>
		      </div>
		    </div>
		  </div>
		</div>

		<div class="modal fade" id="signIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-body">
		      	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <%= render file: '/devise/sessions/new.html.erb' %>
		      </div>
		     
		    </div>
		  </div>
		</div>

	</div>
</div>
