<div class="row image-tiles">
	<div class="col-xs-6 .col-sm-4 image-tile">
		<p>adsf</p>
		<img src="http://placekitten.com/g/300/300">
	</div>
	<div class="col-xs-6 .col-sm-4 image-tile">
		<p>adsf</p>
		<img src="http://placekitten.com/g/300/300">
	</div>
	<div class="clearfix visible-xs-block"></div>
	<div class="col-xs-6 .col-sm-4 image-tile">
		<p>adsf</p>
		<img src="http://placekitten.com/g/300/300">
	</div>
</div>