
<div id="container">
  <div class="item">...</div>
  <div class="item w2">...</div>
  <div class="item">...</div>
  ...
</div>


<div class="records">
	<% @records.each do |record| %>
		<%= record.borrower_name %>
		<%= record.date_due %>
		<%= record.date_returned %>
		<%= record.times_lent %>
	<% end %>
	
</div>


