
<div id="container">
  <div class="item">...</div>
  <div class="item w2">...</div>
  <div class="item">...</div>
  ...
</div>



  <div class="container-fluid ">
    <div class ="row image-tiles">
			<% @records.each do |record| %>
				<div class="col-xs-12 col-md-4 col-lg-3 display item-block">
					<%= record.borrower_name %>
					<%= record.date_due %>
					<%= record.date_returned %>
					<%= record.times_lent %>
				</div>
			<% end %>
    </div>
  </div>






