@mixin full-background($image-url) {
	background-attachment: fixed;
	background-clip: border-box;
	background-color: transparent;
	background-image: image-url($image-url);
	background-origin: padding-box;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

