/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";


* {
	box-sizing: border-box;
}

body {
	text-align: center;
	background-color: #696969;
}


html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.navbar-center {
	position: absolute;
	left: 0;
	right: 0;
	top: 15px;
}


.image-tile {
	text-align: center;
	border: solid 1px;
	padding: 10px;
	position: relative;
	background: #424a5d;
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	-o-transition-property: opacity;
	transition-property: opacity;
	-webkit-transition-duration: 1.2s;
	-moz-transition-duration: 1.2s;
	-o-transition-duration: 1.2s;
	transition-duration: 1.2s;
	-webkit-transition-timing-function: linear;
	-moz-transition-timing-function: linear;
	-o-transition-timing-function: linear;
	transition-timing-function: linear;

}

.image-tile:hover  {
	opacity: 0.9;
}



.show-image-tile {
	opacity: 1;
}

.image-tiles {

}

.image {
	height: 300px;
	width: 300px;
	border: solid 1px;
	margin: 0 auto;
	// position: absolute;

}


.center-text {
	text-align: center;
}


// form styling
.form-actions {
	padding: 10px;
	text-align: center;
}

// bootstrap overrides
.modal-header {
	background: #FFFFFF;
}


// overrides

.black-bg {
	background: #224380;
	border-bottom: #224380; 
}
.landing-content {
	// max-height: 600px;
	// position: relative;
}

.modal-button {
  position: absolute;
  top: 50%;
  left: 50%;
}

.center{
	left: 25%;
	width: 50%;
	height: 50%;
	top: 25%;
	position: absolute;
	text-align: center;
}
.overflow {
	overflow: hidden;
}


.display {
	padding: 2.25%;

	.img-circle{
		max-width: 30%;

	}
}


