/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui/datepicker
 *= require jquery-ui/autocomplete
 *= require tag-it
 *= require_self
 *= require_tree
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";
@import "mixins";

* {
	box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  text-align: center;
  margin-bottom: 60px;
  background-color: #DFDFDF;
}

.item-block {
	opacity: 0.6%;
	width: 236px;
	height: 381px;
	border-radius: 6px;
	background-color: white ;
	margin-bottom: 10px;
	font-size: 18px;
 }



.item-block:hover{
	opacity: 1;
	border-color: blue;
	border: 2px outset;
	.location-info{
		display: inherit;
	}
}

.location-block {

	width: 300px;
	height: 485px;
	border-radius: 6px;
	background-color: white ;
	margin-bottom: 10px;
	font-size: 18px;
 
}

.location-block:hover{
	border-color: blue;
	border: 2px outset;
	.location-info{
		display: inherit;
	}
}

.jquerytabs{
	background-color: rgb(34, 34, 34);
}
.greeting{
	margin-bottom: 0px;
}

   


#masonry_container, #checked_out_items, #user_items {
	width: 100%;
	margin: 0 auto;
	margin-top: 15px;
}
#overdue_items{
		width: 100%;
	margin: 0 auto;
	margin-top: 15px;
	border: solid 5px;
}

.add-more {
  position: relative;
  margin:0 auto;
  top: 50%;
}

.center {
	margin: 0 auto;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.navbar-center {
	position: absolute;
	left: 0;
	right: 0;
	top: 15px;
	margin: 20px;
	font-size: 24px;
}
#navbar{
	padding: 30px;

}
#main-wrapper {
	margin-top: 110px;
}

.image-tile {
	text-align: center;
	border: solid 1px;
	padding: 10px;
	position: relative;
	background: #424a5d;
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	-o-transition-property: opacity;
	transition-property: opacity;
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
	-webkit-transition-timing-function: linear;
	-moz-transition-timing-function: linear;
	-o-transition-timing-function: linear;
	transition-timing-function: linear;
}

.image-tile-item {
	min-height: 300px;
}

.image-tile:hover  {
	opacity: 0.8;
}
.item-avatar{
		border-radius: 6px;
		margin: 0,12;
		max-width: 212px;
		overflow: hidden;
	}





.show-image-tile {
	opacity: 1;
}
.main-button-content {
	padding: 35px;
}

.image-tiles {
	padding: 40px;
}

.image {
	height: 250px;
	width: 250px;
	border: solid 1px;
	margin: 0 auto;
	/*// position: absolute;*/

}

.left-text {
	text-align: left;
}


.center-text {
	text-align: center;
}


/* form styling */
.form-actions {
	padding: 10px;
	text-align: center;
}

/*bootstrap overrides*/
.modal-header {
	background: #FFFFFF;
}


/*overrides*/

.black-bg {
	background: #224380;
	border-bottom: #224380; 
}
.landing-content {
	// max-height: 600px;
	// position: relative;
}

.modal-button {
  position: absolute;
  top: 50%;
  left: 50%;
}

.center{
	left: 25%;
	width: 50%;
	height: 50%;
	top: 25%;
	position: absolute;
	text-align: center;
}
.overflow {
	overflow: hidden;
}


.display {
	padding: 2.25%;

	.img-circle{
		max-width: 30%;

	}
}

.navbar {
	height: 110px;
}

.modal-dialog {
	
}
.large-text {
  font-size: 60px;
}
.background-picture {
	@include full-background("background.jpg");
	padding: 50px;
}

.how_to_use {
	font-size: 22px;
	padding: 30px;
	background-color: white;
}


.tagline {
	padding: 15px;
	color: white;
}

.glyph {
	float: left;
}

.team {
	padding: 35px;
  font-size: 22px;
  background-color: #333333;
 color: white;
}

.aboutteam{
	font-size: 26px;
	padding: 35px;
	border-top-style: inset;
	background-color: #333333;
	color: white;
}

.edit_form{
	background-color: lightgray;
	text-align: left;
	border-top: solid;
	border-bottom: solid;

}

.img-center{
	margin-left: auto;
	margin-right: auto;
}

.location-info{
	display:none;
	padding-top: 3px;
}

a {
	color:#009FE3;
}

.active {
	background-color: #DFDFDF !important;
}
.new {
	padding-left: 6px;
}
.logout {
	margin-bottom: 4px;
}

button {
	background-color: rgb(34, 34, 34);
	border:none;
	color:rgb(112, 111, 111);
}


