/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require tag-it
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";


* {
	box-sizing: border-box;
}

body {
	text-align: center;
	background-color: #696969;
}

.image-tile {
	text-align: center;
	border: solid 1px;
	padding: 10px;
	position: relative;
	background: #424a5d;
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	-o-transition-property: opacity;
	transition-property: opacity;
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
	-webkit-transition-timing-function: linear;
	-moz-transition-timing-function: linear;
	-o-transition-timing-function: linear;
	transition-timing-function: linear;
}

.image-tile-item {
	min-height: 300px;
}

.image-tile:hover  {
	opacity: 0.8;
}



.show-image-tile {
	opacity: 1;
}

.image-tiles {
	padding: 40px;
}

.image {
	height: 300px;
	width: 300px;
	border: solid 1px;
	margin: 0 auto;
	// position: absolute;

}

.left-text {
	text-align: left;
}


.center-text {
	text-align: center;
}


// form styling
.form-actions {
	padding: 10px;
	text-align: center;
}

// bootstrap overrides
.modal-header {
	background: #FFFFFF;
}


// overrides

.black-bg {
	background: #224380;
	border-bottom: #224380; 
}


