// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.overflow {
	overflow: hidden;
}


.display {
	padding: 2.25%;

	.img-circle{
		max-width: 30%;

	}
}

.record-form {
	display: none;
}

.item-block {
  position: absolute;

}

.item-img {
  border-radius: 100%;

}
.img-info{
  z-index: 1;
}


.item-img:hover {

  z-index: 1;

  }


