// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.overflow {
	overflow: hidden;
}


.display {
	padding: 2.25%;

	.img-circle{
		max-width: 30%;

	}
}

.record-form {
	display: none;
}
