<div class ="item-block">
  <h3><%= link_to location.name, location_items_path(location) %></h3>
  <%= link_to (image_tag location.avatar.url(:medium), class: "img img-responsive img-center"), location_items_path(location)%>
</div>
