<section class="parent">
	<div class="col-xs-12 col-md-6 col-lg-3">
		<div class = "show-image-tile">
      <h3><%= link_to location.name, location_items_path(location) %></h3>
      <%= link_to (image_tag location.avatar.url(:medium), class: "img img-responsive img-center"), location_items_path(location)%>
		</div>
	</div>
</section>
