<div class ="item-block">
    <h3><%= link_to location.name, location_items_path(location) %></h3>
			<%= link_to (image_tag location.avatar.url(:medium), class: "img img-responsive img-center"), location_items_path(location)%>
    <div class = "location-info">
    		<%= link_to "Edit location", edit_location_path(location),class: "btn btn-warning" %>
    		<%= link_to "New item", new_location_item_path(location),class: "btn btn-info", remote: true %>
    </div>

</div>
