<h1>Here be ye dragons</h1>

<p>Hi user: <%= @user.id %></p>

<div class="center-text">
	<%= link_to 'New Location', new_location_path, class: 'btn btn-primary' %>
</div>


<div class="container">
	<div class="row image-tiles">
		<% @locations.each do |location| %>
			<%= render partial: 'location', locals: {location: location} %>
		<% end %>
		<div id="infinite-scrolling">
			<%= paginate @locations %>
		</div>
	</div>
</div>

